<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LTC_Covid</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/bundling/css/commonStyle.min.css" rel="stylesheet" />


    
    
    
    
    
    
    
    
    
    <script src="~/Resources/Limitless/global_assets/js/demo_pages/dashboard.js"></script>
    

    <!-- /theme JS files -->
    @RenderSection("styles", required: false)

    @RenderSection("headscripts", required: false)
</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark">
        <div class="navbar-brand">
            <a href="index.html" class="d-inline-block">
                <img src="~/Resources/Limitless/global_assets/images/logo_light.png" alt="">
            </a>
        </div>
        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>


            <ul class="navbar-nav">
                <li class="nav-item">
                    <div id="divAppHeaderOfficeName" class="app-header-search">

                    </div>
                </li>
            </ul>

            <span class="badge ml-md-3 mr-md-auto">&nbsp;</span>
            <partial name="~/Views/Shared/Menu/_TopRightMenu.cshtml" />
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Navigation
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->
            <!-- Sidebar content -->
            <div class="sidebar-content">
                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                        <!-- Main -->
                        <li onclick="Survey.loadMenuItem('todayAppointment');" class="nav-item">
                            <a href="#" class="nav-link active">
                                <i class="icon-calendar"></i><span> Today's Appointment</span>
                            </a>
                        </li>
                        <li onclick="Survey.loadMenuItem('searchPatient');" class="nav-item nav-item-submenu">
                            <a href="javascript:;" class="nav-link">
                                <i class="icon-reading"></i> <span>Search Patient</span>
                            </a>
                        </li>
                        <li onclick="Survey.loadMenuItem('pendingForms');" class="nav-item nav-item-submenu">
                            <a href="javascript:;" class="nav-link">
                                <i class="icon-pencil3"></i> <span>Pending Forms</span>
                            </a>
                        </li>
                        <li onclick="Survey.loadMenuItem('pendingSurveys');" class="nav-item nav-item-submenu">
                            <a href="javascript:;" class="nav-link">
                                <i class="icon-stack"></i> <span>Pending Surveys</span>
                            </a>
                        </li>
                        <!-- /page kits -->
                    </ul>
                </div>
                <!-- /main navigation -->
            </div>
            <!-- /sidebar content -->

        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            @RenderBody()

            <partial name="~/Views/Shared/Footer/_Footer.cshtml" />
        </div>
        <!-- /main content -->
    </div>

    <div class="modal fade" id="thePreviewPanel" tabindex="-1" role="dialog" aria-labelledby="modal-default-header" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content block minModelSize">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="block-divider"></div>
                <div class="modal-body">
                    <iframe id="iframeThePreview" allowfullscreen style="min-height:400px; width:100%;"></iframe>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalFormSubmit" tabindex="-1" role="dialog" aria-labelledby="modal-default-header" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content block minModelSize">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="block-divider"></div>
                <div class="modal-body">
                    <iframe id="iframeFormSubmit" allowfullscreen style="min-height:400px; width:100%;"></iframe>
                </div>
            </div>
        </div>
    </div>

    <partial name="~/Views/Shared/PartialViews/_About.cshtml" />
    <partial name="~/Views/Shared/PartialViews/_ChangePassword.cshtml" />
    <partial name="~/Views/Shared/PartialViews/_Profile.cshtml" />


    @RenderSection("scripts", required: false)
    
    <script src="~/Scripts/Home/HomeLayout.js"></script>
    <script src="~/Scripts/CommonJS.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            Common.hideLoader();
        });
        var Survey = {
            loadMenuItem: function (id) {
                if (true) {
                    if (id == 'todayAppointment') {

                        $("#nodataDiv").hide();
                        //SurveyControls.defaultLoad(); //private survey.js file
                        $("#tab-todayAppointment").show();
                        $("#todayAppointment").css('display', '');

                        $("#tab-todayAppointment > a").click();

                    }
                    else if (id == 'searchPatient') {
                        $("#nodataDiv").hide();
                        //PrivateTag.defaultLoad();
                        $("#tab-searchPatient").show();
                        $("#searchPatient").css('display', '');
                        $("#tab-searchPatient > a").click();
                    }
                    else if (id == 'pendingForms') {
                        $("#nodataDiv").hide();
                        //SurveyAnswers.defaultLoad();
                        $("#tab-pendingForms").show();
                        $("#pendingForms").css('display', '');
                        $("#tab-pendingForms > a").click();
                    }
                    //else if (id == 'reports') {
                    //    $("#nodataDiv").hide();
                    //    //SurveyReport.defaultLoad();
                    //    $("#tab-reports").show();
                    //    $("#tab-reports > a").click();
                    //}
                    else if (id == 'pendingSurveys') {
                        $("#nodataDiv").hide();
                        //SurveyReport.defaultLoad();
                        $("#tab-pendingSurveys").show();
                        $("#pendingSurveys").css('display', '');
                        $("#tab-pendingSurveys > a").click();
                    }
                }
                else {

                }
            }
        }
    </script>
</body>
</html>
