@model LTCDataModel.Covid.gFormCovidEntryViewModel
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .Percent70 {
        width: 70%;
    }


     canvas , svg{
     
  width: 100%;
  height: auto;
    }
    .dvPreScreen, .dvInPerson {
        text-align: center !important;
    }

    @@media all and (max-width:600px) {
        .table td, .table th {
            padding: 6px 5.25px;
        }

        canvas, svg {
            width: 100%;
            height: auto;
        }

        #signature {
            width: 300px !important;
            height: 150px !important;
        }

        .kbw-signature {
            width: 300px !important;
            height: 150px !important;
        }

        #signature {
            width: 300px !important;
            height: 150px !important;
        }

        #txtTemperature {
            width: 100%;
        }
    }
</style>
<input type="hidden" id="IsLinkEnabled" value="@ViewBag.FromLink">
<input type="hidden" id="IsViewed" value="@Model.IsViewed">
<input type="hidden" id="IsCovid" value="@Model.IsCOVIDPossible">
<input type="hidden" id="SubscriberFullName" value="@Model.FirstName @Model.LastName">
<input type="hidden" id="FormID" value="@Model.FormID">
<input type="hidden" id="CustomeID" value="@Model.CustomID">
<input type="hidden" id="IdValue" value="@Model.SubscriberID">
<input type="hidden" id="JsonValue" value="@Model.StorageInJsonView">
<input type="hidden" id="QueueID" value="@Model.QueueID">
<input type="hidden" id="hdnPreScreenDate" value="@Model.PreScreenDate">
<input type="hidden" id="hdnInPersonDate" value="@Model.InPersonScreenDate">
<div class="content">

    <!-- Form inputs -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Dental Screening</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>


                </div>
            </div>
        </div>

        <div class="card-body">
            <fieldset class="mb-5">



                <br />
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Staff Screener</label>
                    <div class="col-lg-6">
                        <label id="staffScreener" class="form-check-label"></label>


                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Patient Name</label>
                    <div class="col-lg-6">
                        <label id="patientName" class="form-check-label"></label>

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Patient Age</label>
                    <div class="col-lg-6">
                        <label id="patientAge" class="form-check-label"></label>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Who Answered</label>
                    <div class="col-lg-6">
                        <label id="whoAns" class="form-check-label"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Contact Details</label>
                    <div class="col-lg-6">
                        <label id="txtContactMethod" class="form-check-label"></label>


                    </div>
                </div>
              


            </fieldset>


        </div>
    </div>
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">COVID Screening Questions</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>


                </div>
            </div>
        </div>

        <div class="card-body">
            <fieldset class="mb-3">
                <div class="form-group row" style="margin-bottom: 0px; ">
                    <div class="col-lg-3 dvPreScreen">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" name="prescreen" id="preScreen" class="form-check-input">
                                Pre Screen
                            </label>   [ <label class="form-check-label" id="PreScreenDate">
                                -
                            </label> ]
                        </div>

                    </div>
                    <div class="col-lg-3 dvInPerson">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" id="inPerson" name="inperson" class="form-check-input" disabled>
                                In-Office
                            </label>[<label class="form-check-label" id="InPersonDate">
                                -
                            </label>]
                        </div>

                    </div>
                </div>
            </fieldset>
            <fieldset class="mb-3">

                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="Percent70 dvPreScreen2">Identify yourself and explain the purpose of the call, which is to determine whether <br />there are any special considerations for their dental appointment. Have the patient answer the following questions.</th>
                                    <th class="text-center dvPreScreen dvCenter">
                                        Pre-Screen<br>
                                    </th>
                                    <th class="text-center dvInPerson dvCenter">
                                        In-Office<br>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        <ol>
                                            <li value="1">
                                                Do you have a fever or have felt hot or feverish anytime in the last 10 days? <br />
                                                Patient temperature at appointment:  [<label id="txtTemperature" class="form-check-label"></label>]
                                            </li>
                                        </ol>
                                    </th>
                                    <td class="dvPreScreen dvCenter">
                                        <div class="form-check form-check-inline">
                                            <label id="PreScreenAnswer1" class="form-check-label">
                                                -
                                            </label>
                                        </div>


                                    </td>
                                    <td class="dvInPerson dvCenter">
                                        <div class="form-check form-check-inline">
                                            <label id="InPersonScreenAnswer1" class="form-check-label">

                                                -
                                            </label>
                                        </div>


                                    </td>

                                </tr>
                                <tr>
                                    <th>
                                        <ol>
                                            @{
                                                if (Model.FormID == 1)
                                                {
                                                <li value="2">
                                                    Do you have any of these symptoms: New or worsening cough? <br />
                                                    New or worsening shortness of breath? Difficulty breathing? <br /> Sore throat or painful swallowing? Runny nose?
                                                </li>

                                                }
                                                else
                                                {
                                                <li value="2">
                                                    Does the person have a confirmed case of COVID-19 or had close contact with a confirmed case of COVID-19?
                                                </li>

                                                }

                                            }
                                        </ol>
                                    </th>
                                    <td class="dvPreScreen dvCenter">
                                        <div class="form-check form-check-inline">
                                            <label id="PreScreenAnswer2" class="form-check-label">
                                                -
                                            </label>
                                        </div>


                                    </td>
                                    <td class="dvInPerson dvCenter">
                                        <div class="form-check form-check-inline">
                                            <label id="InPersonScreenAnswer2" class="form-check-label">

                                                -
                                            </label>
                                        </div>


                                    </td>

                                </tr>
                                <tr>
                                    <th>
                                        <ol>

                                            @{
                                                if (Model.FormID == 1)
                                                {

                                                <li value="3">
                                                    Have you experienced a recent loss of smell or taste?
                                                </li>
                                                }
                                                else
                                                {
                                                <li value="3">

                                                    Does the person have any of the following symptoms:
                                                    <br />
                                                    •Fever<br />
                                                    •New onset of cough<br />
                                                    •Worsening chronic cough<br />
                                                    •Shortness of breath<br />
                                                    •Difficulty breathing<br />
                                                    •Sore throat<br />
                                                    •Difficulty swallowing<br />
                                                    •Decrease or loss of sense of taste or smell<br />
                                                    •Chills<br />
                                                    •Headaches<br />
                                                    •Unexplained fatigue/malaise/muscle aches (myalgias)<br />
                                                    •Nausea/vomiting, diarrhea, abdominal pain<br />
                                                    •Pink eye (conjunctivitis)<br />
                                                    •Runny nose/nasal congestion without other known cause<br />


                                                </li>
                                                }

                                            }

                                        </ol>
                                    </th>
                                    <td class="dvPreScreen dvCenter">
                                        <div class="form-check form-check-inline">
                                            <label id="PreScreenAnswer3" class="form-check-label">
                                                -
                                            </label>
                                        </div>


                                    </td>
                                    <td class="dvInPerson dvCenter">
                                        <div class="form-check form-check-inline">
                                            <label id="InPersonScreenAnswer3" class="form-check-label">

                                                -
                                            </label>
                                        </div>


                                    </td>

                                </tr>
                                <tr>
                                    <th>
                                        <ol>
                                            <li value="4">
                                                Have you been in contact with any confirmed COVID-19 positive patients,    <br />
                                                or persons self-isolating because of a determined risk for COVID-19?
                                            </li>
                                        </ol>
                                    </th>
                                    <td class="dvPreScreen dvCenter">
                                        <div class="form-check form-check-inline">
                                            <label id="PreScreenAnswer4" class="form-check-label">
                                                -
                                            </label>
                                        </div>


                                    </td>
                                    <td class="dvInPerson dvCenter">
                                        <div class="form-check form-check-inline">
                                            <label id="InPersonScreenAnswer4" class="form-check-label">

                                                -
                                            </label>
                                        </div>


                                    </td>

                                </tr>
                                <tr>
                                    <th>
                                        <ol>
                                            <li value="5">
                                                Have you returned from travel outside of Canada in the last 14 days?
                                            </li>
                                        </ol>
                                    </th>
                                    <td class="dvPreScreen dvCenter">
                                        <div class="form-check form-check-inline">
                                            <label id="PreScreenAnswer5" class="form-check-label">
                                                -
                                            </label>
                                        </div>


                                    </td>
                                    <td class="dvInPerson dvCenter">
                                        <div class="form-check form-check-inline">
                                            <label id="InPersonScreenAnswer5" class="form-check-label">

                                                -
                                            </label>
                                        </div>


                                    </td>

                                </tr>
                                <tr>
                                    <th>
                                        <ol>
                                            <li value="6">
                                                Have you returned from travel within Canada  <br /> from a location known affected with COVID-19 in the last 14 days?
                                            </li>
                                        </ol>
                                    </th>
                                    <td class="dvPreScreen dvCenter">
                                        <div class="form-check form-check-inline">
                                            <label id="PreScreenAnswer6" class="form-check-label">
                                                -
                                            </label>
                                        </div>


                                    </td>
                                    <td class="dvInPerson dvCenter">
                                        <div class="form-check form-check-inline">
                                            <label id="InPersonScreenAnswer6" class="form-check-label">

                                                -
                                            </label>
                                        </div>


                                    </td>

                                </tr>
                                <tr>
                                    <th>
                                        <ol>
                                            <li value="7">
                                                Is your workplace considered high risk?
                                            </li>
                                        </ol>
                                    </th>
                                    <td class="dvPreScreen dvCenter">
                                        <div class="form-check form-check-inline">
                                            <label id="PreScreenAnswer7" class="form-check-label">
                                                -
                                            </label>
                                        </div>


                                    </td>
                                    <td class="dvInPerson dvCenter">
                                        <div class="form-check form-check-inline">
                                            <label id="InPersonScreenAnswer7" class="form-check-label">

                                                -
                                            </label>
                                        </div>


                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
            @{
                if (Model.FormID != 1)
                {
                <br />
                <br />
                <br />
                }
            }
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Patient Vulnerability</legend>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="Percent70"></th>
                                <th class="text-center dvPreScreen dvCenter">
                                    Pre-Screen<br>
                                </th>
                                <th class="text-center dvInPerson dvCenter">
                                    In-Office<br>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    <ol>
                                        <li value="8">
                                            Are you over the age of 65?
                                        </li>
                                    </ol>
                                </th>
                                <td class="dvPreScreen dvCenter">
                                    <div class="form-check form-check-inline">
                                        <label id="PreScreenAnswer8" class="form-check-label">
                                            -
                                        </label>
                                    </div>


                                </td>
                                <td class="dvInPerson dvCenter">
                                    <div class="form-check form-check-inline">
                                        <label id="InPersonScreenAnswer8" class="form-check-label">

                                            -
                                        </label>
                                    </div>


                                </td>

                            </tr>


                            <tr>
                                <th>
                                    <ol>
                                        @{
                                            if (Model.FormID == 1)
                                            {

                                            <li value="9">
                                                Do you have any of the following? Heart disease, lung disease, kidney disease, diabetes, or any auto-immune disorder?
                                            </li>
                                            }
                                            else
                                            {
                                            <li value="9">

                                                Are you experiencing any of the following symptoms: delirium, unexplained or increased number of falls,  <br />acute functional decline, or worsening of chronic conditions?


                                            </li>
                                            }

                                        }
                                    </ol>
                                </th>
                                <td class="dvPreScreen dvCenter">
                                    <div class="form-check form-check-inline">
                                        <label id="PreScreenAnswer9" class="form-check-label">
                                            -
                                        </label>
                                    </div>


                                </td>
                                <td class="dvInPerson dvCenter">
                                    <div class="form-check form-check-inline">
                                        <label id="InPersonScreenAnswer9" class="form-check-label">

                                            -
                                        </label>
                                    </div>


                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>











            </fieldset>
            <br />
            <br />
            <br />

            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Additional Notes</legend>


                <div class="form-group row">

                    <div class="col-lg-12">
                        <label id="txtAdditionalInformation" class="form-check-label"></label>
                    </div>
                </div>








            </fieldset>

        </div>
        <div class="card-footer">
            @if(!ViewBag.FromLink) {
            <button type="button" id="btnCancel" style="float: right;" onclick="HomeView.Cancel();" class="btn btn-danger">Back</button>
                }
        </div>
    </div>
    <!-- /form inputs -->

</div>


<div id="frmCovid" class="modal fade" tabindex="-1" data-width="300" data-keyboard="false" role="dialog" aria-labelledby="frmCovid" aria-hidden="true" data-backdrop="static">

    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header btn-primary" style="padding-bottom: 10px">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <img class="img-fluid" src="~/Resources/Images/CovidAlert.jpg" />
                        </div>


                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Resources/theme/js/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Resources/theme/js/vendor/datatables.net/js/DataTables-1.10.18/js/dataTables.bootstrap.js"></script>

    <script src="~/ScriptsView/Home.js"></script>
    <script>
        $(document).ready(function () {
            var str = $("#JsonValue").val();
            var formId = $("#FormID").val();

            var subscriberFullName = $("#SubscriberFullName").val();
            $("#patientName").html(subscriberFullName);

            if (formId == 1 || formId == 2) {
                $(".dvPreScreen").show();
                $(".dvInPerson").show();
            } else if (formId == 3) {
                $(".dvInPerson").hide();
            } else if (formId == 4) {
                $(".dvPreScreen").hide();
            }
            if (str != "") {
                var form = JSON.parse(str);
                if (form != null) {
                    var IsViewed = $("#IsViewed").val();
                    var IsCovid = $("#IsCovid").val();
                    var IsLinkEnabled = $("#IsLinkEnabled").val();

                    if (IsLinkEnabled) {
                        if (!IsViewed) {

                            if (IsCovid) {
                                $('#frmCovid').modal('show');
                                var queueID = $('#QueueID').val();

                                if (queueID != 0) {
                                    HomeView.formViewed(queueID);
                                }
                            }
                        }
                    } else {
                        if (IsCovid) {
                            $('#frmCovid').modal('show');

                        }
                    }

                    if (form.StaffScreener != null) {
                        $("#staffScreener").html(form.StaffScreener);
                        $("#staffScreener").attr('disabled', true);
                    }
                    if (form.StaffScreener != null) {
                        $("#txtContactMethod").html(form.contactDetail);
                    }


                    if (form.PatientName != null) {
                        $("#patientName").html(form.PatientName);
                        $("#patientName").attr('disabled', true);
                    }

                    if (form.PatientAge != null) {
                        $("#patientAge").html(form.PatientAge);
                        $("#patientAge").attr('disabled', true);

                    }

                    if (form.WhoAnswer != null) {
                        $("#whoAns").html(form.WhoAnswer);
                        $("#whoAns").attr('disabled', true);
                    }


                    if (form.IsPreScreenDate != null) {
                        $("#PreScreenDate").html(form.IsPreScreenDate);
                        $("#hdnPreScreenDate").val(form.IsPreScreenDate);
                    }

                    if (form.InPersonDate != null) {
                        $("#InPersonDate").html(form.InPersonDate);
                        $("#hdnInPersonDate").val(form.InPersonDate);
                    }
                    if (form.Temperature != null) {
                        $("#txtTemperature").html(form.Temperature);
                        $("#txtTemperature").attr('disabled', true);

                    }

                    if (form.IsPreScreen) {
                        $('input[name="prescreen"]').attr('checked', true);
                        $('input[name="prescreen"]').attr('disabled', true);

                        if (form.PreScreen != null) {

                            $('#PreScreenAnswer1').html(form.PreScreen.Answer1);
                            $('#PreScreenAnswer2').html(form.PreScreen.Answer2);
                            $('#PreScreenAnswer3').html(form.PreScreen.Answer3);
                            $('#PreScreenAnswer4').html(form.PreScreen.Answer4);
                            $('#PreScreenAnswer5').html(form.PreScreen.Answer5);
                            $('#PreScreenAnswer6').html(form.PreScreen.Answer6);
                            $('#PreScreenAnswer7').html(form.PreScreen.Answer7);
                            $('#PreScreenAnswer8').html(form.PreScreen.Answer8);
                            $('#PreScreenAnswer9').html(form.PreScreen.Answer9);
                            $(".PreScreen").attr('disabled', true);
                            $("#preScreen").attr('disabled', true);

                        }
                    }
                    if (form.InPerson) {
                        $('input[name="inperson"]').attr('checked', true);
                        $('input[name="inperson"]').attr('disabled', true);

                        if (form.InPersonScreen != null) {

                            $("#inPerson").attr('disabled', true);
                            $('#InPersonScreenAnswer1').html(form.InPersonScreen.Answer1);
                            $('#InPersonScreenAnswer2').html(form.InPersonScreen.Answer2);
                            $('#InPersonScreenAnswer3').html(form.InPersonScreen.Answer3);
                            $('#InPersonScreenAnswer4').html(form.InPersonScreen.Answer4);
                            $('#InPersonScreenAnswer5').html(form.InPersonScreen.Answer5);
                            $('#InPersonScreenAnswer6').html(form.InPersonScreen.Answer6);
                            $('#InPersonScreenAnswer7').html(form.InPersonScreen.Answer7);
                            $('#InPersonScreenAnswer8').html(form.InPersonScreen.Answer8);
                            $('#InPersonScreenAnswer9').html(form.InPersonScreen.Answer9);


                        }
                    } else {
                        $(".InPerson").attr('disabled', true);
                        $("#inPerson").attr('disabled', false);
                    }
                    if (form.AdditionalInformation != null) {
                        $("#txtAdditionalInformation").html(form.AdditionalInformation);


                    }


                }
            }
        });
    </script>
}
