@model LTCDataModel.Covid.gFormCovidEntryViewModel

@{
    ViewData["Title"] = "Home Page";
}
<style>

    body > iframe {
        display: none;
    }

    /*.kbw-signature {
        width: 400px;
        height: 200px;
    }*/


    ul {
        list-style-type: none;
    }

    .Percent70 {
        width: 70%;
    }

    #txtTemperature {
        width: 25%;
    }
    canvas {
     
  width: 100%;
  height: auto;
    }
    @@media all and (max-width:600px) {
        canvas, svg {
          
            width: 100%;
            height: auto;
        }
        #signature {
            width: 300px !important;
            height: 150px !important;
        }

        .kbw-signature {
            width: 300px !important;
            height: 150px !important;
        }
        .card-title {
            font-size: 15px;
        }

        .form-check-inline .form-check-input {
            margin-top: 0px !important;
        }

        .smallFont {
            font-size: 13px !important;
        }

        /*.kbw-signature {
            width: 400px;
            height: 200px;
        }*/

        .form-check-label {
            font-size: 15px;
        }

        .table td, .table th {
            padding: 6px 5.25px;
        }


        input[type="radio"] {
            width: 19px;
            height: 25px;
        }
        /*input[type="checkbox"] {
            width: 19px !important;;
            height: 25px !important;;
        }*/
        .dvInPerson, .dvPreScreen {
            text-align: left !important;
        }

        #txtTemperature {
            width: 100%;
        }
    }




    .dvInPerson, .dvPreScreen {
        text-align: center;
    }
</style>
<div class="content">

    <!-- Form inputs -->
    @{
        if (@Model.FormID == 5)
        {
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">COVID-19 RISK ACKNOWLEDGEMENT</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <fieldset class="mb-5" style="margin-bottom: 0px !important">



                    <div class="form-group row">
                        <label class="col-form-label">Welcome Back. Thank you for your confidence in us.</label>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label">Dentists have dealt with previous pandemics and disease outbreaks very successfully. This time around, we are better prepared than ever before. *Despiteour best efforts, there is always a very small riskof exposure to the virus, as there are in other public spaces such as in grocery stores or gyms.</label>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label" style="font-weight: bold;">The Ontario Dental Association has recommended that the COVID-19 Risk Acknowledgementbe obtained from patients seeking treatment.</label>
                    </div>
                    <div class="form-group row">
                        <ul>
                            <li>
                                <div class="form-check form-check-inline" id="chkoption1">
                                    <label class="form-check-label smallFont" style="margin:10px">
                                        <input type="checkbox" name="chk1" id="chk1" class="form-check-input">
                                        I and/or my dependents on this account acknowledge the risk of COVID-19, and consent to treatment.
                                    </label>
                                </div>
                            </li>
                            <li>

                                <div class="form-check form-check-inline" id="chkoption2">
                                    <label class="form-check-label smallFont" style="margin:10px">
                                        <input type="checkbox" name="chk2" id="chk2" class="form-check-input">
                                        I wish to reschedule treatment.
                                    </label>
                                </div>


                            </li>

                        </ul>

                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Signature</label>
                        <div class="col-lg-6">
                            <div id="signature"></div>
                            <input type="text" id="input-signature" style="display:none" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Patient Name</label>
                        <div class="col-lg-4">
                            <input type="text" id="txtPatientName" class="form-control">
                            <label id="lblPatientName" class="form-check-label"></label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Date</label>
                        <div class="col-lg-4">
                            <input type="date" id="txtConsentDate" class="form-control">
                            <label id="lblConsentDate" class="form-check-label"></label>

                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">

                        <div class="col-lg-12">
                            <label class="col-form-label" style="font-weight: bold;">* Patients are screened and temperatures taken so that we only see those who are healthy and asymptomatic. Advanced sanitation and sterilization protocols, PPEs, hand sanitation, physical distancing, physical barriers, HEPA air filtration units, antimicrobial mouth rinses, contactless interaction, fallow times and the reduction of AGPs where possible.</label>
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-lg-12">
                            <button type="button" id="btnSavePDF" style="display:none;float: right;margin-left:15px" onclick="HomeView.saveFormPdf();" class="btn btn-dark">Save PDF</button>
                            <button type="button" id="btnSave" style="float: right;margin-left:15px" onclick="HomeView.saveConsentForm();" class="btn btn-primary">Save</button>
                            <button type="button" id="btnCancel" style="float: right;" onclick="HomeView.Cancel();" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        }
        else
        {
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Dental Screening</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <fieldset class="mb-5" style="margin-bottom: 0px !important">


                    <br />
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Staff Screener</label>
                        <div class="col-lg-6">
                            @if (Model.LoggedInUser != null)
                                {
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" value="userName" id="userName" name="UName" class="form-check-input" @(Model.LoggedInUser != null ? "checked" : "") />
                                    @Model.LoggedInUser
                                </label>
                            </div>
                                }
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" value="staffScreenerName" id="other" name="UName" class="form-check-input" @(Model.LoggedInUser == null ? "checked" : "") />
                                    <input type="text" id="staffScreener" class="form-control">
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Patient Name</label>
                        <div class="col-lg-6">
                            <input type="text" id="patientName" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Patient Age</label>
                        <div class="col-lg-6">
                            <input type="number" id="patientAge" min="0" max="110" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Who Answered</label>
                        <div class="col-lg-6">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" value="userNameWhoAns" id="userNameWhoAns" name="UNameWhoAns" class="form-check-input" checked />
                                    @Model.FirstName @Model.LastName
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" value="whoAnsScreenerName" id="otherWhoAns" name="UNameWhoAns" class="form-check-input" />
                                    <input type="text" id="whoAns" class="form-control" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Contact Method</label>
                        <div class="col-lg-6">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" value="phone" id="phone" name="contactMethod" class="form-check-input">
                                    Phone
                                    <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="txtPhone" class="form-control" style="display:none;margin-left:5px">
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" value="email" id="email" name="contactMethod" class="form-check-input">
                                    Email
                                    <input type="email" id="txtEmail" class="form-control" style="display:none;margin-left:5px">
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" value="other" id="cmOther" name="contactMethod" class="form-check-input">
                                    Other
                                    <input type="text" id="txtOther" class="form-control" style="display:none;margin-left:5px">
                                </label>
                            </div>

                        </div>
                    </div>
                    @*<hr>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">CustomID</label>
                            <div class="col-lg-6">
                                <input type="text" value="@Model.CustomID" class="form-control" id="customID" disabled>
                            </div>
                        </div>*@
                </fieldset>
            </div>
        </div>
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">COVID-19 Screening Questions</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <fieldset class="mb-3">
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="col-lg-3 dvPreScreen">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" name="prescreen" id="preScreen" class="form-check-input">
                                    Pre-Screen
                                </label>[  <label class="form-check-label" id="PreScreenDate">-</label>]
                            </div>

                        </div>
                        <div class="col-lg-3 dvInPerson">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" id="inPerson" name="inperson" class="form-check-input">
                                    In-Office
                                </label>[<label class="form-check-label" id="InPersonDate">-</label>]
                            </div>

                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table responsive  table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="Percent70">Identify yourself and explain the purpose of the call, which is to determine whether  there are any special considerations for their dental appointment. Have the patient answer the following questions.</th>
                                    <th class="text-center dvPreScreen">
                                        Pre-Screen<br>
                                    </th>
                                    <th class="text-center dvInPerson">
                                        In-Office<br>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr id="Answer1">
                                    <th>
                                        <ol>
                                            <li value="1">
                                                Do you have a fever or have felt hot or feverish anytime in the last 10 days? <br />

                                                <label id="lblTemperature" class="form-check-label">
                                                    Patient temperature at appointment: <input type="text" id="txtTemperature" maxlength="3" class="form-control">
                                                </label>
                                            </li>
                                        </ol>

                                    </th>
                                    <td class="dvPreScreen">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer1" value="Yes" class="form-check-input PreScreen" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer1" value="No" class="form-check-input PreScreen" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>
                                    <td class="dvInPerson">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer1" value="Yes" class="form-check-input InPerson" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer1" value="No" class="form-check-input InPerson" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>

                                </tr>
                                <tr id="Answer2">
                                    <th>
                                        <ol>
                                            @{
                                                    if (Model.FormID == 1)
                                                    {
                                                <li value="2">
                                                    Do you have any of these symptoms: New or worsening cough? <br />
                                                    New or worsening shortness of breath? Difficulty breathing? <br /> Sore throat or painful swallowing? Runny nose?
                                                </li>

                                                    }
                                                    else
                                                    {
                                                <li value="2">
                                                    Does the person have a confirmed case of COVID-19 or had close contact with a confirmed case of COVID-19?
                                                </li>

                                                    }

                                            }
                                        </ol>

                                    </th>
                                    <td class="dvPreScreen" id="PreScreenAnswer2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer2" value="Yes" class="form-check-input PreScreen" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer2" value="No" class="form-check-input PreScreen" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>
                                    <td class="dvInPerson" id="InPersonScreenAnswer2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer2" value="Yes" class="form-check-input InPerson" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer2" value="No" class="form-check-input InPerson" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>

                                </tr>
                                <tr id="Answer3">
                                    <th>
                                        <ol>

                                            @{
                                                    if (Model.FormID == 1)
                                                    {

                                                <li value="3">
                                                    Have you experienced a recent loss of smell or taste?
                                                </li>
                                                    }
                                                    else
                                                    {
                                                <li value="3">

                                                    Does the person have any of the following symptoms:
                                                    <br />
                                                    •Fever<br />
                                                    •New onset of cough<br />
                                                    •Worsening chronic cough<br />
                                                    •Shortness of breath<br />
                                                    •Difficulty breathing<br />
                                                    •Sore throat<br />
                                                    •Difficulty swallowing<br />
                                                    •Decrease or loss of sense of taste or smell<br />
                                                    •Chills<br />
                                                    •Headaches<br />
                                                    •Unexplained fatigue/malaise/muscle aches (myalgias)<br />
                                                    •Nausea/vomiting, diarrhea, abdominal pain<br />
                                                    •Pink eye (conjunctivitis)<br />
                                                    •Runny nose/nasal congestion without other known cause<br />


                                                </li>
                                                    }

                                            }

                                        </ol>
                                    </th>
                                    <td class="dvPreScreen" id="PreScreenAnswer3">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer3" value="Yes" class="form-check-input PreScreen" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer3" value="No" class="form-check-input PreScreen" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>
                                    <td class="dvInPerson" id="InPersonScreenAnswer3">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer3" value="Yes" class="form-check-input InPerson" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer3" value="No" class="form-check-input InPerson" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>

                                </tr>
                                <tr id="Answer4">
                                    <th>
                                        <ol>
                                            <li value="4">
                                                Have you been in contact with any confirmed COVID-19 positive patients, or persons self-isolating because of a determined risk for COVID-19?
                                            </li>
                                        </ol>

                                    </th>
                                    <td class="dvPreScreen" id="PreScreenAnswer4">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer4" value="Yes" class="form-check-input PreScreen" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer4" value="No" class="form-check-input PreScreen" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>
                                    <td class="dvInPerson" id="InPersonScreenAnswer4">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer4" value="Yes" class="form-check-input InPerson" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer4" value="No" class="form-check-input InPerson" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>

                                </tr>
                                <tr id="Answer5">
                                    <th>
                                        <ol>
                                            <li value="5">
                                                Have you returned from travel outside of Canada in the last 14 days?
                                            </li>
                                        </ol>

                                    </th>
                                    <td class="dvPreScreen" id="PreScreenAnswer5">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer5" value="Yes" class="form-check-input PreScreen" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer5" value="No" class="form-check-input PreScreen" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>
                                    <td class="dvInPerson" id="InPersonScreenAnswer5">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer5" value="Yes" class="form-check-input InPerson" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer5" value="No" class="form-check-input InPerson" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>

                                </tr>
                                <tr id="Answer6">
                                    <th>
                                        <ol>
                                            <li value="6">
                                                Have you returned from travel within Canada from a location known affected with COVID-19 in the last 14 days?
                                            </li>
                                        </ol>


                                    </th>
                                    <td class="dvPreScreen" id="PreScreenAnswer6">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer6" value="Yes" class="form-check-input PreScreen" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer6" value="No" class="form-check-input PreScreen" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>
                                    <td class="dvInPerson" id="InPersonScreenAnswer6">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer6" value="Yes" class="form-check-input InPerson" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer6" value="No" class="form-check-input InPerson" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>

                                </tr>
                                <tr id="Answer7">
                                    <th>
                                        <ol>
                                            <li value="7">
                                                Is your workplace considered high risk?
                                            </li>
                                        </ol>
                                    </th>
                                    <td class="dvPreScreen" id="PreScreenAnswer7">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer7" value="Yes" class="form-check-input PreScreen" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer7" value="No" class="form-check-input PreScreen" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>
                                    <td class="dvInPerson" id="InPersonScreenAnswer7">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer7" value="Yes" class="form-check-input InPerson" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer7" value="No" class="form-check-input InPerson" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>











                </fieldset>
                <fieldset class="mb-3">
                    <legend class="text-uppercase font-size-sm font-weight-bold">Patient Vulnerability</legend>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="Percent70"></th>
                                    <th class="text-center dvPreScreen">
                                        Pre-Screen<br>
                                    </th>
                                    <th class="text-center dvInPerson">
                                        In-Office<br>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr id="Answer8">
                                    <th>
                                        <ol>
                                            <li value="8">
                                                Are you over the age of 65?
                                            </li>
                                        </ol>


                                    </th>
                                    <td class="dvPreScreen" id="PreScreenAnswer8">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer8" value="Yes" class="form-check-input PreScreen" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer8" value="No" class="form-check-input PreScreen" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>
                                    <td class="dvInPerson" id="InPersonScreenAnswer8">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer8" value="Yes" class="form-check-input InPerson" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer8" value="No" class="form-check-input InPerson" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>

                                </tr>


                                <tr id="Answer9">
                                    <th>
                                        <ol>
                                            @{
                                                    if (Model.FormID == 1)
                                                    {

                                                <li value="9">
                                                    Do you have any of the following? Heart disease,<br /> lung disease, kidney disease, diabetes, or any auto-immune disorder?
                                                </li>
                                                    }
                                                    else
                                                    {
                                                <li value="9">

                                                    Are you experiencing any of the following symptoms: delirium, unexplained or increased number of falls, <br />
                                                    acute functional decline, or worsening of chronic conditions?


                                                </li>
                                                    }

                                            }
                                        </ol>

                                    </th>
                                    <td class="dvPreScreen" id="PreScreenAnswer9">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer9" value="Yes" class="form-check-input PreScreen" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="PreScreenAnswer9" value="No" class="form-check-input PreScreen" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>
                                    <td class="dvInPerson" id="InPersonScreenAnswer9">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer9" value="Yes" class="form-check-input InPerson" disabled>
                                                Yes
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="InPersonScreenAnswer9" value="No" class="form-check-input InPerson" disabled>
                                                No
                                            </label>
                                        </div>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>











                </fieldset>
                <fieldset class="mb-3">
                    <legend class="text-uppercase font-size-sm font-weight-bold">Additional Notes</legend>


                    <div class="form-group row">

                        <div class="col-lg-12">
                            <textarea class="form-control" id="txtAdditionalInformation" rows="3"></textarea>
                        </div>
                    </div>








                </fieldset>
            </div>
            <div class="card-footer">
                @if (!Model.IsAlreadySave)
                    {
                <text>
                    <button type="button" id="btnSave" style="float: right;margin-left:15px" onclick="HomeView.saveForm();" class="btn btn-primary">Save</button>
                </text>
                    }


                <button type="button" id="btnCancel" style="float: right;" onclick="HomeView.Cancel();" class="btn btn-danger">Cancel</button>
            </div>
        </div>

        }
    }
    <!-- /form inputs -->

</div>
<input type="hidden" id="IsLinkEnabled" value="@ViewBag.FromLink">
<input type="hidden" id="IsViewed" value="@Model.IsViewed">
<input type="hidden" id="IsCovid" value="@Model.IsCOVIDPossible">
<input type="hidden" id="LoggedInUser" value="@Model.LoggedInUser">
<input type="hidden" id="SubscriberFullName" value="@Model.FirstName @Model.LastName">
<input type="hidden" id="FormID" value="@Model.FormID">
<input type="hidden" id="CustomID" value="@Model.CustomID">
<input type="hidden" id="IdValue" value="@Model.SubscriberID">
<input type="hidden" id="JsonValue" value="@Model.StorageInJsonView">
<input type="hidden" id="QueueID" value="@Model.QueueID">
<input type="hidden" id="hdnPreScreenDate" value="@Model.PreScreenDate">
<input type="hidden" id="hdnInPersonDate" value="@Model.InPersonScreenDate">
<input type="hidden" id="hdnCounter" value="@Model.Counter">
<div id="frmCovid" class="modal fade" tabindex="-1" data-width="300" data-keyboard="false" role="dialog" aria-labelledby="frmCovid" aria-hidden="true" data-backdrop="static">

    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header btn-primary" style="padding-bottom: 10px">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <img class="img-fluid" src="~/Resources/Images/CovidAlert.jpg" />
                        </div>


                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Resources/theme/js/vendor/datatables/jquery.dataTables.min.js"></script>

    <script src="~/Resources/theme/js/vendor/datatables.net/js/DataTables-1.10.18/js/dataTables.bootstrap.js"></script>
    <script src="~/ScriptsView/Home.js"></script>
    <script>

        $(document).ready(function () {




            $("#txtTemperature").keydown(function (event) {

                if (event.shiftKey) {
                    event.preventDefault();
                }

                if (event.keyCode == 46 || event.keyCode == 8) {
                }
                else {
                    if (event.keyCode < 95) {
                        if (event.keyCode < 48 || event.keyCode > 57) {
                            event.preventDefault();
                        }
                    }
                    else {
                        if (event.keyCode < 96 || event.keyCode > 105) {
                            event.preventDefault();
                        }
                    }
                }
            });
            $("#patientAge").keydown(function (event) {

                if (event.shiftKey) {
                    event.preventDefault();
                }

                if (event.keyCode == 46 || event.keyCode == 8) {
                }
                else {
                    if (event.keyCode < 95) {
                        if (event.keyCode < 48 || event.keyCode > 57) {
                            event.preventDefault();
                        }
                    }
                    else {
                        if (event.keyCode < 96 || event.keyCode > 105) {
                            event.preventDefault();
                        }
                    }
                }
            });
            $('input[name=contactMethod]').change(function () {

                var contactMethod = $("input[name=contactMethod]:checked").val();
                if (contactMethod == "phone") {
                    $("#txtPhone").show();
                    $("#txtEmail").hide();
                    $("#txtOther").hide();


                } else if (contactMethod == "email") {
                    $("#txtPhone").hide();
                    $("#txtEmail").show();
                    $("#txtOther").hide();

                } else if (contactMethod == "other") {
                    $("#txtPhone").hide();
                    $("#txtEmail").hide();
                    $("#txtOther").show();
                }
            });

            var formId = $("#FormID").val();
            if (formId == 5) {
                var subscriberFullName = $("#SubscriberFullName").val();
                $("#txtPatientName").val(subscriberFullName);


                var str = $("#JsonValue").val();
                if (str != "") {
                    var form = JSON.parse(str);
                    if (form != null) {



                        if (form.Signature != null) {
                            $('#input-signature').val(form.Signature);
                        }

                        if (form.PatientName != null) {
                            $("#txtPatientName").hide();
                            //$("#txtPatientName").val(form.PatientName);
                            //$("#txtPatientName").attr('disabled', true);
                            $("#lblPatientName").html(form.PatientName);

                        }





                        if (form.ConsentDate != null) {
                            $("#txtConsentDate").hide();
                            $("#lblConsentDate").html(form.ConsentDate);

                        //$("#txtConsentDate").val(form.ConsentDate);
                        //$("#txtConsentDate").attr('disabled', true);

                    }
                    $("#chk1").attr('disabled', true);
                    $("#chk2").attr('disabled', true);


                    if (form.Answer1 == "on") {
                        // Make Checkbox checkec
                        $("#chk1").attr('checked', true);
                    }
                     if (form.Answer2 == "on") {
                        // Make Checkbox checkec
                        $("#chk2").attr('checked', true);
                    }


                        $('#signature').html($('#input-signature').val());
                      $('#signature').css("width", "300px");
                    $('#signature').css("height", "200px");
                    $('#btnSave').hide();
                    $('#btnSavePDF').show();

    //$('#signature').signature('enable').
    //    signature('draw', $('#input-signature').val()).
    //    signature('disable');

    //$('#signature').signature({disabled: true});


                }

            }
                 else {
                        var input = $('#input-signature');
                $('#signature').signature({

                    change: function (event, ui) {
                        input.val($('#signature').signature('toSVG'));
                    }
                });

                $('#clear').click(function () {
                    $('#signature').signature('clear');
                });

                            
                 }
            }
            else {








            var str = $("#JsonValue").val();

            var subscriberFullName = $("#SubscriberFullName").val();
            $("#patientName").val(subscriberFullName);

            if (formId == 1 || formId == 2) {
                $(".dvPreScreen").show();
                $(".dvInPerson").show();
            } else if (formId == 3) {
                $("#txtTemperature").hide();
                $("#lblTemperature").hide();

                $(".dvInPerson").hide();
                //$("#preScreen").click();

            } else if (formId == 4) {
                $(".dvPreScreen").hide();
                //$("#inPerson").click();
            }


            if (str != "") {
                var form = JSON.parse(str);
                if (form != null) {
                    var IsViewed = $("#IsViewed").val();
                    var IsCovid = $("#IsCovid").val();
                    var IsLinkEnabled = $("#IsLinkEnabled").val();

                    if (IsLinkEnabled) {
                        if (!IsViewed) {

                            if (IsCovid) {
                                $('#frmCovid').modal('show');
                                var queueID = $('#QueueID').val();

                                if (queueID != 0) {
                                    HomeView.formViewed(queueID);
                                }
                            }
                        }
                    } else {
                        if (IsCovid) {
                            $('#frmCovid').modal('show');

                        }
                    }


                    if (form.StaffScreenerType == "UserName") {
                        // Make Checkbox checkec
                        $("#userName").attr('checked', true);
                    } else {
                        $("#staffScreener").val(form.StaffScreener);
                        $("#staffScreener").attr('disabled', false);
                        $("#other").attr('checked', true);
                    }
                    if (form.PatientName != null) {
                        $("#patientName").val(form.PatientName);
                        $("#patientName").attr('disabled', true);
                    }


                    if (form.contactMethodType == "phone") {
                        $("#txtPhone").show().val(form.contactDetail);

                        $("#phone").attr('checked', true);
                    } else if (form.contactMethodType == "email") {
                        $("#txtEmail").show().val(form.contactDetail);
                        $("#email").attr('checked', true);
                    } else if (form.contactMethodType == "other") {
                        $("#txtOther").val(form.contactDetail);
                        $("#cmOther").show().attr('checked', true);
                    }


                    if (form.PatientAge != null) {
                        $("#patientAge").val(form.PatientAge);
                        $("#patientAge").attr('disabled', true);

                    }
                    if (form.WhoAnsType == "UserNameWhoAnswer") {
                        // Make Checkbox checkec
                        $("#userNameWhoAns").attr('checked', true);
                    } else {
                        $("#whoAns").val(form.WhoAnswer);
                        $("#whoAns").attr('disabled', false);
                        $("#otherWhoAns").attr('checked', true);
                    }
                    if (formId == 3 || formId == 4) {
                        $("#userName").attr('disabled', true);
                        $("#other").attr('disabled', true);
                        $("#staffScreener").attr('disabled', true);
                        $("#userNameWhoAns").attr('disabled', true);
                        $("#otherWhoAns").attr('disabled', true);
                        $("#whoAns").attr('disabled', true);

                        $("#phone").attr('disabled', true);
                        $("#email").attr('disabled', true);
                        $("#cmOther").attr('disabled', true);
                        $("#txtEmail").attr('disabled', true);
                        $("#txtPhone").attr('disabled', true);
                        $("#txtOther").attr('disabled', true);
                        //$("#txtTemperature").attr('disabled', true);
                    } else if (formId == 1 || formId == 2) {
                        if (form.IsPreScreen || form.InPersonScreen) {
                            $("#userName").attr('disabled', true);
                            $("#other").attr('disabled', true);
                            $("#staffScreener").attr('disabled', true);
                            $("#userNameWhoAns").attr('disabled', true);
                            $("#otherWhoAns").attr('disabled', true);
                            $("#whoAns").attr('disabled', true);

                            $("#phone").attr('disabled', true);
                            $("#email").attr('disabled', true);
                            $("#cmOther").attr('disabled', true);
                            $("#txtEmail").attr('disabled', true);
                            $("#txtPhone").attr('disabled', true);
                            $("#txtOther").attr('disabled', true);
                            //$("#txtTemperature").attr('disabled', true);

                        }
                    }

                    if (form.IsPreScreenDate != null) {
                        $("#PreScreenDate").html(form.IsPreScreenDate);
                        $("#hdnPreScreenDate").val(form.IsPreScreenDate);
                    }

                    if (form.InPersonDate != null) {
                        $("#InPersonDate").html(form.InPersonDate);
                        $("#hdnInPersonDate").val(form.InPersonDate);
                    }
                    if (form.Temperature != null) {
                        $("#txtTemperature").val(form.Temperature);
                    }


                    if (form.IsPreScreen) {
                        $('input[name="prescreen"]').attr('checked', true);
                        if (form.PreScreen != null) {

                            $('input[name=PreScreenAnswer1][value="' + form.PreScreen.Answer1 + '"]').attr('checked', true);
                            $('input[name=PreScreenAnswer2][value="' + form.PreScreen.Answer2 + '"]').attr('checked', true);
                            $('input[name=PreScreenAnswer3][value="' + form.PreScreen.Answer3 + '"]').attr('checked', true);
                            $('input[name=PreScreenAnswer4][value="' + form.PreScreen.Answer4 + '"]').attr('checked', true);
                            $('input[name=PreScreenAnswer5][value="' + form.PreScreen.Answer5 + '"]').attr('checked', true);
                            $('input[name=PreScreenAnswer6][value="' + form.PreScreen.Answer6 + '"]').attr('checked', true);
                            $('input[name=PreScreenAnswer7][value="' + form.PreScreen.Answer7 + '"]').attr('checked', true);
                            $('input[name=PreScreenAnswer8][value="' + form.PreScreen.Answer8 + '"]').attr('checked', true);
                            $('input[name=PreScreenAnswer9][value="' + form.PreScreen.Answer9 + '"]').attr('checked', true);

                            $(".PreScreen").attr('disabled', true);
                            $("#preScreen").attr('disabled', true);


                        }
                    }
                    if (formId == 1 || formId == 2) {
                        if (form.IsPreScreen == true && form.InPerson == true) {
                            $("#btnSave").attr('disabled', true);
                        }

                    } else {
                        if (form.IsPreScreen || form.InPerson) {
                            $("#btnSave").attr('disabled', true);
                        }

                    }
                    if (form.InPerson) {

                        $('input[name="inperson"]').attr('checked', true);
                        if (form.InPersonScreen != null) {
                            // (formId == 1 || formId == 2) {
                            $(".InPerson").attr('disabled', true);
                            $("#inPerson").attr('disabled', true);
                            // }


                            $('input[name=InPersonScreenAnswer1][value="' + form.InPersonScreen.Answer1 + '"]').attr('checked', true);
                            $('input[name=InPersonScreenAnswer2][value="' + form.InPersonScreen.Answer2 + '"]').attr('checked', true);
                            $('input[name=InPersonScreenAnswer3][value="' + form.InPersonScreen.Answer3 + '"]').attr('checked', true);
                            $('input[name=InPersonScreenAnswer4][value="' + form.InPersonScreen.Answer4 + '"]').attr('checked', true);
                            $('input[name=InPersonScreenAnswer5][value="' + form.InPersonScreen.Answer5 + '"]').attr('checked', true);
                            $('input[name=InPersonScreenAnswer6][value="' + form.InPersonScreen.Answer6 + '"]').attr('checked', true);
                            $('input[name=InPersonScreenAnswer7][value="' + form.InPersonScreen.Answer7 + '"]').attr('checked', true);
                            $('input[name=InPersonScreenAnswer8][value="' + form.InPersonScreen.Answer8 + '"]').attr('checked', true);
                            $('input[name=InPersonScreenAnswer9][value="' + form.InPersonScreen.Answer9 + '"]').attr('checked', true);

                        }
                    } else {

                        if (formId == 1 || formId == 2) {
                            $(".InPerson").attr('disabled', true);
                            $("#inPerson").attr('disabled', false);
                        }

                    }
                    if (form.AdditionalInformation != null) {
                        $("#txtAdditionalInformation").val(form.AdditionalInformation);
                        //$("#txtAdditionalInformation").attr('disabled', true);

                    }


                }

            } else {

                if (formId == 1 || formId == 2) {
                    $('input[name="prescreen"]').click();
                } else if (formId == 3) {

                    $('input[name="prescreen"]').click();
                } else if (formId == 4) {

                    $('input[name="inperson"]').click();
                }


                if (formId == 1 || formId == 2) {
                    $(".InPerson").attr('disabled', true);
                    $("#inPerson").attr('disabled', true);
                }

                if ($('.dvPreScreen').is(':visible')) {
                @if(Model.IsPreScreen)
                {
                    <text>
                    $("#preScreen").click();
                    </text>
                }
                }
            }
 @if(!string.IsNullOrEmpty(Model.ContactMethod))
            {
                <text>
            var contactMethod = '@Model.ContactMethod.ToLower()';
            if (contactMethod == "phone") {
                $("#phone").click();
                $("#txtPhone").show();
            } else if (contactMethod == "email") {
                $("#email").click();
                $("#txtEmail").show();
            } else if (contactMethod == "other") {
                $("#cmOther").click();
                $("#txtOther").show();
            }
                </text>
            }
        }
        });
    </script>
}



 