<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>

    <!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" href="~/Resources/theme/css/styles.css">

    @RenderSection("pagelevelstyles", required: false)
    <!-- EOF CSS INCLUDE -->

    @RenderSection("headscripts", required: false)
    <link href="~/Resources/Site.css" rel="stylesheet" />
    @*<link href="~/Resources/CornerMenu.css" rel="stylesheet" />*@
</head>
<body>
    <!-- APP WRAPPER -->
    <div class="app">

        <!-- START APP CONTAINER -->
        <div class="container">
            <!-- START APP CONTENT -->
            <div class="container-boxed">
                <!-- START PAGE CONTAINER -->
                <div class="container">
                    @RenderBody()
                </div>
                <!-- END PAGE CONTAINER -->

            </div>
            <!-- END APP CONTENT -->

        </div>

        <!-- APP OVERLAY -->
        <div class="app-overlay"></div>
        <!-- END APP OVERLAY -->
    </div>
    <partial name="_AppScripts" />

    @*<script src="~/Scripts/SharedJS/Layout.js"></script>*@

    @RenderSection("scripts", required: false)

</body>
</html>