@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>LTC - @ViewBag.Title </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta content="" name="author" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/bundling/css/commonStyle.min.css" rel="stylesheet" />

    <link href="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
        
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    
    <script src="~/Resources/Limitless/global_assets/js/plugins/notifications/bootbox.min.js"></script>
    <script src="~/Resources/Limitless/global_assets/js/demo_pages/components_modals.js"></script>

    @RenderSection("styles", required: false)

    <link rel="shortcut icon" href="favicon.ico" />
    <style>
        .dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button.current:focus, .dataTables_paginate .paginate_button.current:hover {
            color: #fff;
            background-color: #37474f;
        }

        .dataTables_paginate .paginate_button:first-child {
            margin-left: 0;
        }

        .dataTables_paginate .paginate_button {
            display: inline-block;
            padding: .4375rem;
            min-width: 2.25003rem;
            margin-left: .125rem;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            color: #333;
            outline: 0;
            border: 1px solid transparent;
            border-radius: .1875rem;
            transition: all ease-in-out .15s;
        }

        .nav-sidebar .nav-item:not(.nav-item-header):first-child {
            padding-top: 0px !important;
        }

        .table-scrollable .dataTable td > .btn-group, .table-scrollable .dataTable th > .btn-group {
            position: relative;
        }

        .dropdown-toggle:after {
            display: none !important;
        }

        .btn-group > .dropdown-menu, .dropdown-toggle > .dropdown-menu, .dropdown > .dropdown-menu {
            margin-top: 0px;
        }

            .btn-group > .dropdown-menu:after, .dropdown-toggle > .dropdown-menu:after, .dropdown > .dropdown-menu:after {
                content: none;
            }

            .btn-group > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .dropdown > .dropdown-menu:before {
                content: none;
            }

        .dataTables_filter > label:after {
            top: 66%;
        }
    </style>
</head>
<body class="sidebar-xs">
    <input type="hidden" id="hdnIsReview" />
    <div class="navbar navbar-expand-md navbar-dark">
        <span class="applicationName">
            @ViewBag.OfficeName
        </span>
        @*<div class="page-logo">
                <a href="#" style="color: #e67a7a;font-size: 35px;font-weight: bolder;">
                    @ViewBag.OfficeName
                </a>
            </div>*@
        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>
            @*@Html.Partial("~/Views/Shared/Menu/_MenuSelection.cshtml")*@
            <ul class="navbar-nav">
                <li class="nav-item">

                </li>
            </ul>
            &nbsp;
            <ul class="navbar-nav">
                <li class="nav-item">

                </li>
            </ul>

            <span class="badge ml-md-3 mr-md-auto">&nbsp;</span>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <div class="headerDate">
                        <div class="input-group">

                        </div>
                    </div>
                </li>

                @{


                    <li class="nav-item dropdown dropdown-user">
                        <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" style="padding:11px;" data-toggle="dropdown">
                            <i class="icon-user"></i> &nbsp;
                            <span>@User.Identity.Name</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" data-toggle="modal" class="dropdown-item"><i class="icon-wrench3"></i> Preferences</a>
                            <div class="dropdown-divider"></div>
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Identity/Account/Login">
                                <a class="dropdown-item" href="#" onclick="document.getElementById('logoutForm').submit();">
                                    <i class="icon-switch"></i>
                                    Logout
                                </a>
                            </form>
                        </div>
                    </li>


                }
            </ul>


        </div>
    </div>

    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Navigation
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->
            <!-- Sidebar content -->
            <div class="sidebar-content">
                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                        <!-- Main -->

                        <li class="nav-item">
                            <a href="@Url.Action("Home","Newsletter")" id="dashBoard" class="nav-link active">
                                <i class="icon-home4"></i>
                                <span>
                                    Dashboard
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Subscribers")" id="subscriber" class="nav-link">
                                <i class="icon-user"></i>
                                <span>
                                    Subscribers
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Newsletter")" id="newsLetter" class="nav-link">
                                <i class="icon-newspaper"></i>
                                <span>
                                    NewsLetters
                                </span>
                            </a>
                        </li>


                        <li class="nav-item nav-item-submenu">
                            <a href="javascript:;" class="nav-link"><i class="icon-newspaper2"></i> <span>Reports</span></a>
                            <ul class="nav nav-group-sub">
                                <li class="nav-item">
                                    <a href="@Url.Action("ScheduledNewsLetters","Report")" id="scheduledNewsLetters" class="nav-link">
                                        <i class="icon-steering-wheel"></i>Scheduled Newsletters
                                    </a>
                                </li>

                            </ul>
                        </li>



                        <!-- /page kits -->
                    </ul>
                </div>
                <!-- /main navigation -->
            </div>
            <!-- /sidebar content -->

        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            @RenderBody()

            <div class="navbar navbar-expand-lg navbar-light">
                <div class="text-center d-lg-none w-100">
                    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                        <i class="icon-unfold mr-2"></i>
                        Footer
                    </button>
                </div>

                <div class="navbar-collapse collapse" id="navbar-footer">
                    <span class="navbar-text">
                        &copy; Logic Tech Corp. @DateTime.Now.Year. All rights reserved
                    </span>
                </div>
            </div>

        </div>
        <!-- /main content -->
    </div>

    <div id="thePreviewPanel" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <iframe id="iframeThePreview" allowfullscreen style="min-height:400px; width:100%;"></iframe>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <script src="~/bundling/js/commonScripts1.min.js"></script>
    <script src="~/bundling/js/commonScripts2.min.js"></script>

    <script src="~/Scripts/SharedJS/Common.js"></script>
    <script src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/global/plugins/ui-sweetalert.min.js"></script>
    @RenderSection("scripts", required: false)



</body>
</html>
