@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LTC Dental</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/bundling/css/commonStyle.min.css" rel="stylesheet" />

    @RenderSection("styles", required: false)

</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark">
        @*<div class="navbar-brand">
                <a href="index.html" class="d-inline-block">
                    <img src="~/Resources/Limitless/global_assets/images/logo_light.png" alt="">
                </a>
            </div>*@
        <span style="
                        font-family: 'Open Sans', sans-serif;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 1;
                        position: relative;
                        margin-top: 12px;">
            Logic Tech Corp
        </span>
        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>

            @Html.Partial("~/Views/Shared/Menu/_MenuSelection.cshtml")

            <ul class="navbar-nav">
                <li class="nav-item">
                    <form class="app-header-search">
                        <select class="bs-select form-control" id="ddlSurveyOffice" name="ddlSurveyOffice" onchange="Survey.surveyOfficeDropDownChange()"></select>
                    </form>
                </li>
            </ul>

            <span class="badge ml-md-3 mr-md-auto">&nbsp;</span>

            @Html.Partial("~/Views/Shared/Menu/_TopRightMenu.cshtml")
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Navigation
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->
            <!-- Sidebar content -->
            <div class="sidebar-content">
                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                        <!-- Main -->
                        <li onclick="Survey.loadMenuItem('surveyDesigner');" class="nav-item">
                            <a href="#" class="nav-link active">
                                <i class="icon-home4"></i><span> Survey Designer</span>
                            </a>
                        </li>
                        <li onclick="Survey.loadMenuItem('surveys');" class="nav-item nav-item-submenu">
                            <a href="javascript:;" class="nav-link">
                                <i class="icon-newspaper2"></i> <span>Surveys</span>
                            </a>
                        </li>
                        <li onclick="Survey.loadMenuItem('reports');" class="nav-item nav-item-submenu">
                            <a href="javascript:;" class="nav-link">
                                <i class="icon-color-sampler"></i> <span>Reports</span>
                            </a>
                        </li>
                        <!-- /page kits -->
                    </ul>
                </div>
                <!-- /main navigation -->
            </div>
            <!-- /sidebar content -->

        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            @RenderBody()

            @Html.Partial("~/Views/Shared/Footer/_Footer.cshtml")
        </div>
        <!-- /main content -->
    </div>

    <div id="thePreviewPanel" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <iframe id="iframeThePreview" allowfullscreen style="min-height:400px; width:100%;"></iframe>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>


    @Html.Partial("~/Views/Shared/PartialViews/_About.cshtml")
    @Html.Partial("~/Views/Shared/PartialViews/_ChangePassword.cshtml")
    @Html.Partial("~/Views/Shared/PartialViews/_Profile.cshtml")

    <script src="~/bundling/js/commonScripts1.min.js"></script>
    <script src="~/bundling/js/commonScripts2.min.js"></script>
    
    <script src="~/Resources/Limitless/global_assets/js/demo_pages/dashboard.js"></script>
    <script src="~/Resources/theme/js/vendor/ResizePanel/Resize.js"></script>

    @RenderSection("headscripts", required: false)
    <script src="~/Scripts/Survey/SurveyLayout.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
