@model LTCDataModel.User.ApplicationUser
@{
    Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
}

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NormalizedUserName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NormalizedUserName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IsSystemAdministrator)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IsSystemAdministrator)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IsAdministrator)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IsAdministrator)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IsDisplaySummary)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IsDisplaySummary)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IsDefaultUser)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IsDefaultUser)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
