@model LTCDataModel.User.ApplicationUser
@{
    Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
}

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Office_Number)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Office_Number)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Office_Sequence)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Office_Sequence)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Branch_Number)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Branch_Number)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AuthenticationPhone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AuthenticationPhone)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Provider)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Provider)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Salutation)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Salutation)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Initials)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Initials)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AddressLine3)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AddressLine3)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IsSystemAdministrator)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IsSystemAdministrator)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IsAdministrator)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IsAdministrator)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IsDisplaySummary)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IsDisplaySummary)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IsDefaultUser)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IsDefaultUser)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MondayCSV)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MondayCSV)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TuesdayCSV)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TuesdayCSV)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WednesdayCSV)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WednesdayCSV)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ThursdayCSV)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ThursdayCSV)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FridayCSV)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FridayCSV)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SaturdayCSV)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SaturdayCSV)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SundayCSV)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SundayCSV)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LastLogin)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LastLogin)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PhotoImageURL)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PhotoImageURL)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WebsiteURL)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WebsiteURL)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ActivationStatus)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ActivationStatus)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LanguageSelected)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LanguageSelected)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DateFormat)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DateFormat)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SelectedTemplateId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SelectedTemplateId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SelectedMainTitle_Name_ClinicName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SelectedMainTitle_Name_ClinicName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PreferedSubIndustriesCSV)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PreferedSubIndustriesCSV)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FirstNewsletterDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FirstNewsletterDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NotifyAutoSchedulesBeforeDispatch)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NotifyAutoSchedulesBeforeDispatch)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NotifyAutoSchedulesAfterDispatch)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NotifyAutoSchedulesAfterDispatch)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AutoNewsletterCount)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AutoNewsletterCount)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DB_Path)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DB_Path)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Serial_Number)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Serial_Number)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Cust_id)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Cust_id)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Providerrange)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Providerrange)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NormalizedUserName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NormalizedUserName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NormalizedEmail)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NormalizedEmail)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SecurityStamp)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConcurrencyStamp)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConcurrencyStamp)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LockoutEnd)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LockoutEnd)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
