@model IEnumerable<LTCDataModel.User.ApplicationUser>
@using System.Security.Claims

@{
    Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
    bool.TryParse(User.FindFirstValue("IsAssignOfficeEnabled"), out bool isAssignOfficeEnabled);
    bool.TryParse(User.FindFirstValue("IsEditModuleEnabled"), out bool isEditModuleEnabled);
    bool.TryParse(User.FindFirstValue("IsEditUserEnabled"), out bool isEditUserEnabled);
}
<p>
    <a class="btn btn-primary" asp-action="Create">Create User</a>
    <a class="btn btn-success" asp-action="CreateDefault">Create Default User</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSystemAdministrator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdministrator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDefaultUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Office_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSystemAdministrator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdministrator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDefaultUser)
                </td>
                <td>
                    @if (isEditUserEnabled)
                    {
                        <text>  <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | </text>
                    }

                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (isEditUserEnabled)
                    {
                        <text>  <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> | </text>
                    }


                    <a href="javascript:;" onclick="sendSMS(@item.Id)">Send Link</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    function sendSMS(id) {
        $.post("/Users/SendSMS", { id: id }, function (data) {
            if (data.Success == true) {
                alert("SMS Sent");
            } else {
                alert(data.Message);
            }
        });
    }
</script>